@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nunito&display=swap');
.App {
  text-align: center;
}

.font-nunito-serif{
  font-family: 'Lemon', serif;
}

.font-nunito-sans{
  font-family: 'Nunito', sans-serif;
}